body {
  background-color: #f3f3f3;
}
/* 清除浮动 */
.clearfix:after {
  content: '';
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}
.clearfix {
  zoom: 1;
}
/* 水平垂直居中 */
.center {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
/* 水平居中 */
.l_center {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}
/* 垂直居中 */
.t_center {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}
/* 标题样式 */
.title {
  position: relative;
  margin: 30px 0 16px 0;
}
.title h2 {
  font-size: 24px;
}
.title a {
  position: absolute;
  right: 0;
  bottom: 0;
  color: #000;
}
/* 电影列表 */
.movies ul {
  float: left;
  margin-left: 1.70454545%;
  margin-bottom: 20px;
}
.movies ul:nth-child(5n + 1) {
  margin-left: 0;
}
.movies ul li:nth-child(1) {
  position: relative;
  width: 205px;
  height: 287px;
}
.movies ul li:nth-child(1) img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.movies ul li:nth-child(1) span:nth-of-type(1) {
  position: absolute;
  top: 7px;
  left: 10px;
  width: 75px;
  height: 18px;
  border-radius: 2px;
  color: #ffffff;
  text-align: center;
  line-height: 18px;
}
.movies ul li:nth-child(1) span:nth-of-type(1) i {
  font-style: normal;
  text-decoration: line-through;
}
.movies ul li:nth-child(1) span:nth-of-type(2) {
  position: absolute;
  width: 28px;
  height: 18px;
  right: 7px;
  bottom: 7px;
  color: #fff;
  text-align: center;
  line-height: 18px;
}
.movies ul li:nth-child(2) {
  position: relative;
  padding-top: 6px;
}
.movies ul li:nth-child(2) span {
  display: block;
}
.movies ul li:nth-child(2) span:nth-child(1) {
  color: #191919;
  font-size: 14px;
}
.movies ul li:nth-child(2) span:nth-child(2) {
  font-size: 12px;
  color: #999999;
}
.movies ul li:nth-child(2) span:nth-child(3) {
  display: table;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 0;
  color: #ff6600;
}
.movies ul li:nth-child(2) span:nth-child(3) i {
  font-style: normal;
  font-size: 16px;
}
.top {
  width: 100%;
  height: 64px;
  background: url("../img/vip-bgs.png") 0 0;
  border-bottom: 1px solid #c7c4c5;
}
.top > div {
  position: relative;
  width: 1100px;
  height: 64px;
  margin: 0 auto;
}
.top > div .logo {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 191px;
  height: 29px;
  left: 10px;
  background: url("../img/vip-logo.png") no-repeat 0 -144px;
}
.top > div ul {
  top: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
  right: 0;
  display: table;
}
.top > div ul li {
  float: left;
  padding: 5px 10px;
}
.top > div ul li a {
  color: #686868;
}
.navigation {
  height: 40px;
  background: url("../img/vip-bgs.png") 0 -74px;
}
.navigation li {
  float: left;
  width: 115px;
  height: 38px;
  margin-top: 2px;
  text-align: center;
  line-height: 38px;
}
.navigation li:hover {
  background-color: #0b68c8;
}
.navigation li a {
  color: #ffffff;
}
.server {
  position: relative;
  width: 1100px;
  height: 195px;
  margin: 0 auto;
  margin-top: 100px;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
}
.server:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  top: -2px;
  background-color: #dedede;
}
.server:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  background-color: #dedede;
}
.server dl {
  position: relative;
  float: left;
  box-sizing: border-box;
  margin: 55px 0 45px 0;
  width: 25%;
  border-right: 1px solid #dedede;
  padding-top: 7px;
}
.server dl:last-child {
  border-right: none;
}
.server dl:before {
  content: '';
  position: absolute;
  top: 0;
  left: 80px;
  width: 51px;
  height: 51px;
  border-radius: 50%;
}
.server dl:nth-child(1):before {
  background: url("../img/vip-powers.png") no-repeat 0 -111px;
}
.server dl:nth-child(2):before {
  background: url("../img/vip-powers.png") no-repeat -51px -111px;
}
.server dl:nth-child(3):before {
  background: url("../img/vip-powers.png") no-repeat -102px -111px;
}
.server dl:nth-child(4):before {
  background: url("../img/vip-powers.png") no-repeat -153px -111px;
}
.server dl dt {
  margin-left: 140px;
  color: #333333;
  margin-bottom: 15px;
  font-size: 16px;
}
.server dl dd {
  margin-left: 140px;
  line-height: 18px;
}
.server dl dd a {
  color: #000000;
}
.bottom {
  width: 1100px;
  height: 166px;
  margin: 0 auto;
  padding-top: 54px;
}
.bottom p {
  text-align: center;
  line-height: 24px;
  color: #999999;
}
.h2 {
  position: relative;
  height: 30px;
  padding-left: 10px;
  margin: 30px 0 16px 0;
  font-weight: normal;
  font-size: 24px;
}
.h2:before {
  content: '';
  width: 4px;
  height: 26px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  top: 2px;
  left: 0;
  background-color: #1a9eff;
}
#top {
  height: 88px;
}
#top > div {
  position: relative;
  width: 1100px;
  height: 88px;
  margin: 0 auto;
}
#top > div .logo {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 119px;
  height: 26px;
  background: url("../img/playicons.png") no-repeat -181px -124px;
}
#main {
  background: url("../img/666.jpg") no-repeat 0 0;
  background-size: 100%;
}
#main .m_content {
  position: relative;
  width: 1100px;
  height: 550px;
  margin: 0 auto;
}
#main .m_content > img {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0;
}
#main .m_content .login_box {
  position: relative;
  padding: 30px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 0;
  width: 332px;
  height: 446px;
  background-color: #fff;
}
#main .m_content .login_box .login_logo i {
  display: inline-block;
  width: 19px;
  height: 19px;
  background: url("../img/888.png") no-repeat 0 0;
  background-size: 100%;
  vertical-align: middle;
}
#main .m_content .login_box .login_logo span {
  font-size: 16px;
  color: #1a9eff;
  font-weight: bolder;
  vertical-align: middle;
}
#main .m_content .login_box form {
  margin-top: 40px;
}
#main .m_content .login_box form input {
  display: block;
  float: left;
  width: 292px;
  height: 34px;
  border: 1px solid #dddddd;
  border-left: none;
  color: #757575;
}
#main .m_content .login_box form > span {
  display: block;
  height: 20px;
  line-height: 20px;
  color: red;
}
#main .m_content .login_box form > div i {
  display: block;
  float: left;
  width: 34px;
  height: 34px;
  border: 1px solid #dddddd;
  border-right: none;
}
#main .m_content .login_box form > div:nth-of-type(1) i {
  background: url("../img/user.png") no-repeat center;
  background-size: 25px;
}
#main .m_content .login_box form > div:nth-of-type(2) i {
  background: url("../img/password.png") no-repeat center;
  background-size: 25px;
}
#main .m_content .login_box form > div:nth-of-type(3) i {
  background: url("../img/code.png") no-repeat center;
  background-size: 25px;
}
#main .m_content .login_box form > div:nth-of-type(3) input#code {
  width: 100px;
}
#main .m_content .login_box form > div:nth-of-type(3) span {
  display: inline-block;
  width: 114px;
  height: 36px;
  margin-left: 18px;
  border: 1px solid #dddddd;
  color: blue;
  font-size: 20px;
  text-align: center;
  line-height: 36px;
}
#main .m_content .login_box form > div:nth-of-type(3) .change {
  float: right;
  width: 36px;
  height: 36px;
  padding: 2px;
  border-radius: 2px;
  border: 1px solid #dddddd;
  background: url("../img/change.png") no-repeat center;
  cursor: pointer;
}
#main .m_content .login_box form > div:nth-of-type(4) i {
  background: url("../img/code.png") no-repeat center;
  background-size: 25px;
}
#main .m_content .login_box form > div:nth-of-type(4) input#phone {
  width: 100px;
}
#main .m_content .login_box form > div:nth-of-type(4) span {
  display: inline-block;
  width: 114px;
  height: 36px;
  margin-left: 18px;
  border: 1px solid #dddddd;
}
#main .m_content .login_box form > div:nth-of-type(4) .send {
  float: right;
  width: 178px;
  height: 36px;
  padding: 2px;
  border-radius: 2px;
  border: 1px solid #dddddd;
  background-color: #fff;
  cursor: pointer;
}
#main .m_content .login_box form > div:nth-of-type(5) {
  position: relative;
}
#main .m_content .login_box form > div:nth-of-type(5) div:nth-child(1) {
  float: left;
  vertical-align: middle;
}
#main .m_content .login_box form > div:nth-of-type(5) div:nth-child(1) i {
  display: inline-block;
  width: 20px;
  height: 17px;
  background: url("../img/click.png") no-repeat 0 0;
  vertical-align: middle;
}
#main .m_content .login_box form > div:nth-of-type(5) div:nth-child(1) span {
  display: inline-block;
  height: 24px;
  line-height: 24px;
}
#main .m_content .login_box form > div:nth-of-type(5) div:nth-child(1) span a {
  color: #1a9eff;
}
#main .m_content .login_box form > div:nth-of-type(5) div:nth-child(2) {
  float: right;
  color: #1a9eff;
}
#main .m_content .login_box form > div:nth-of-type(5) div:nth-child(2) a {
  color: #1a9eff;
  vertical-align: middle;
}
#main .m_content .login_box form .submit {
  width: 100%;
  height: 38px;
  margin-top: 20px;
  background-color: #1a9eff;
  color: #fff;
  text-align: center;
  line-height: 38px;
  font-size: 16px;
  cursor: pointer;
}
#main .m_content .login_box form > a {
  margin-top: 10px;
  color: #1a9eff;
}
#main .m_content .login_box form > a:nth-of-type(1) {
  position: relative;
  float: left;
  color: #999999;
  padding-left: 18px;
}
#main .m_content .login_box form > a:nth-of-type(1):before {
  content: '';
  width: 14px;
  height: 14px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0;
  background: url("../img/problem.png") no-repeat 0 0;
  background-size: 100%;
}
#main .m_content .login_box form > a:nth-of-type(2) {
  float: right;
}
#main .m_content .login_box .login_bottom {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 0;
  width: 100%;
  height: 70px;
  text-align: center;
  color: #999999;
}
#main .m_content .login_box .login_bottom .other {
  position: relative;
  width: 74px;
  margin: 0 auto;
}
#main .m_content .login_box .login_bottom .other:before {
  content: '';
  width: 100px;
  height: 1px;
  background-color: #e1e1e1;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: -124px;
}
#main .m_content .login_box .login_bottom .other:after {
  content: '';
  width: 100px;
  height: 1px;
  background-color: #e1e1e1;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: -124px;
}
#main .m_content .login_box .login_bottom span {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 10px 10px 0;
  cursor: pointer;
}
#main .m_content .login_box .login_bottom span:nth-of-type(1) {
  background: url("../img/qq.png") no-repeat 0 0;
  background-size: 100%;
}
#main .m_content .login_box .login_bottom span:nth-of-type(2) {
  background: url("../img/weibo.png") no-repeat 0 0;
  background-size: 100%;
}
#main .m_content .login_box .login_bottom span:nth-of-type(3) {
  background: url("../img/weixin.png") no-repeat 0 0;
  background-size: 100%;
}
#bottom {
  padding-top: 32px;
  height: 80px;
}
#bottom p {
  text-align: center;
  margin-bottom: 12px;
  color: #999999;
}
/*# sourceMappingURL=register.css.map */